body {
  background: linear-gradient(to top left, #481638 5%, #04043d 75%);
  background-color: black;
  color: #888888;
  font-family: "Montserrat Alternates", sans-serif;
  background-size: auto;
  min-height: 99.5vh;
  overflow: hidden;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f121;
}
::-webkit-scrollbar-thumb {
  background: #ffffff83;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff34;
}
table::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}
.message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px);
}
tbody {
  display: block;
  max-height: 600px;
  min-height: 600px;
  overflow-y: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
tbody th:not(:first-child),
tbody td:not(:first-child) {
  font-weight: normal;
}
th,
td {
  padding: 15px;
  text-align: left;
}
th {
  color: #fff;
  border: none;
  font-size: 0.8em;
}
tr {
  background-color: rgba(255, 255, 255, 0.1);
  user-select: none;
}
#th:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default;
  user-select: none;
}
tr:hover {
  color: rgb(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.137);
  cursor: pointer;
}
.user-table td:first-child {
  display: flex;
  align-items: center;
}
.user-table td:first-child img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 98vh;
}
.updated {
  position: fixed;
  opacity: 0.5;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 14px;
}

.search input {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(10px);
  outline: none;
  font-size: 24px;
  color: white;
  padding-left: 36px;
  font-weight: bolder;
}

input {
  caret-color: rgb(255, 255, 255);
}

::placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.349);
}

.search {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 20px;
}

.search input[type="text"] {
  padding-left: 46px; /* add some left padding to make room for the SVG */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cpath%20d%3D%22M11%202c4.968%200%209%204.032%209%209s-4.032%209-9%209-9-4.032-9-9%204.032-9%209-9zm0%2016c3.867%200%207-3.133%207-7%200-3.868-3.133-7-7-7-3.868%200-7%203.132-7%207%200%203.867%203.132%207%207%207zm8.485.071l2.829%202.828-1.415%201.415-2.828-2.829%201.414-1.414z%22%20fill%3D%22rgba%28255%2C255%2C255%2C0.349%29%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 12px center;
}
